@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;500&display=swap");
.product-list {
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around; }
  .product-list .product-item {
    margin: 2.5%;
    list-style: none; }
    .product-list .product-item .box {
      background-color: #fff;
      border: #0d0d0d 1px solid;
      width: 225px;
      height: auto;
      transition: 0.3s all; }
      .product-list .product-item .box .product-img {
        width: 100%;
        height: auto;
        padding: 10px; }
      .product-list .product-item .box .product-link {
        text-align: center;
        text-decoration: none;
        text-decoration-color: #0d0d0d; }
      .product-list .product-item .box .product-link:link, .product-list .product-item .box .product-link:visited {
        color: #0d0d0d;
        text-decoration: none; }
      .product-list .product-item .box .prod-price {
        font-size: 13px;
        text-align: center; }
      .product-list .product-item .box:hover {
        box-shadow: 1px 1px 15px #0d0d0d;
        opacity: .5; }
      .product-list .product-item .box .btn_comprar {
        border: none;
        padding-top: 5px;
        padding-bottom: 5px;
        background-color: #0d0d0d;
        color: #fafafa; }

nav .nav-link {
  color: #F2522E !important;
  transition: all 0.5s; }
  nav .nav-link:hover {
    color: #0d0d0d !important; }

nav .logo-navbar {
  position: relative;
  width: 160px;
  left: 15px; }

nav .img-shop {
  width: 24px;
  height: 24px;
  cursor: pointer; }

nav #btn-menu {
  display: none; }

nav #btn-menu:checked ~ .containter-menu {
  opacity: 1;
  visibility: visible; }

nav #btn-menu:checked ~ .containter-menu .cont-menu {
  transform: translateX(0%); }

nav .containter-menu {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  width: 99%;
  height: 100vh;
  top: 0;
  left: 0;
  transition: all 500ms ease;
  opacity: 0;
  visibility: hidden; }
  nav .containter-menu .cont-menu {
    width: 100%;
    max-width: 45%;
    background-color: #eff0f3;
    height: 100vh;
    position: relative;
    transition: all 500ms ease;
    transform: translateX(0%);
    float: right; }
  @media (max-width: 768px) {
    nav .containter-menu .cont-menu {
      max-width: 100%; } }
  nav .containter-menu .cont-menu nav {
    transform: translateY(15%); }
  nav .containter-menu .cont-menu label {
    position: absolute;
    margin-left: 5px;
    margin-top: 10px;
    color: black;
    cursor: pointer;
    font-size: 18px; }

.shopping-cart-items {
  padding: 20px 0px; }

.shopping-cart-header {
  border-bottom: 1px solid #ccc; }

.shopping-cart-image {
  max-width: 80px;
  border-radius: 20px; }

.cantidad {
  max-width: 45px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: #eee;
  padding: 5px; }

.totalPrice {
  min-height: 96px; }

footer .social-medias {
  margin: 0 0 0 20px;
  width: 25px;
  height: 25px; }

footer .footer-text {
  color: #a7a9be;
  text-align: center; }

.index-body {
  background-color: #ffffff; }
  .index-body .gif-index {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 52%;
    height: auto; }

.scale-up-center {
  -webkit-animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both; }

/* ----------------------------------------------
 * Generated by Animista on 2022-3-20 3:47:3
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
/**
 * ----------------------------------------
 * animation scale-up-center
 * ----------------------------------------
 */
@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5); }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1); } }

@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5); }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1); } }

.contactos-main .formulario {
  margin: 0 auto;
  margin-top: 1%;
  padding: 1%;
  text-align: center;
  width: 100%;
  max-width: 300px; }

.contactos-main .tienda-iframe {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  text-align: center;
  padding: 1%;
  width: 100%;
  max-width: 300px; }

.newsletter {
  align-items: center;
  width: 100%;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px; }
  .newsletter .newsletter_button {
    border: none;
    padding-top: 7px;
    padding-bottom: 7px;
    background-color: #0d0d0d;
    color: #fafafa; }
  .newsletter .newsletter_text {
    font-weight: bold; }
  .newsletter .newsletter_email {
    border: none;
    background-color: #fafafa; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: 'Oswald', sans-serif;
  background-color: #eff0f3; }
  body .subcategoria {
    text-align: center; }
