@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;500&display=swap');
 *{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}
 body{
     font-family: 'Oswald', sans-serif;
     background-color: #eff0f3;
}

/* NAV */

.nav-link{
    color: #F2522E !important;
    transition: color 0.5s; 
}
.nav-link:hover{
    color: #0d0d0d !important;
}
.logo-navbar{
    position: relative;
    width: 160px;
    left: 15px;
}

/* FOOTER */

.social-medias{
    margin: 0 0 0 20px;
    width: 25px;
    height: 25px;
}
.footer-logo{
    width: 42px;
    height: 42px;
}
.footer-text{
    color: #a7a9be !important;
    text-align: center;
}

/* INDEX */

.gif-index{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 52%;
    height: auto;
}
.index-body{
    background-color: #ffffff;
}
.index-footer{
    background-color: #eff0f3;
    text-align: center;
}
.product-item-index{  
    transition: 0.3s all;
    list-style: none;
}

/* PRODUCTOS */

.box{
    background-color: #fff;
    border: #0d0d0d 1px solid;
    width: 225px;
    height: auto;
}
.product-img{
    width: 100%;
    height: auto;
    padding: 10px;
    transition: 0.3s all;
}
.product-img:hover{
    opacity: .5;
}
.product-list{
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
.product-name{
    text-align: center;
    text-decoration: none;
    text-decoration-color: #0d0d0d;
}
.product-name:link{
    color: #000000;
    text-decoration: none;
}
.product-name:visited{
    color: #000000;
    text-decoration: none;
}
.product-item{  
    margin: 2.5%;
    transition: 0.3s all;
    list-style: none;
}
.product-item:hover{
    box-shadow: 1px 1px 15px black;
}
.product-price{
    font-size: 13px;
    text-align: center;
}
.product-price-sale{
    text-decoration: line-through;
    font-size: 13px;
    text-align: center;
}

/* CONTACTO */

.subcategoria{
    text-align: center;
}
.formulario{
    margin: 0 auto;
    margin-top: 1%;
    padding: 1%;
    text-align: center;
    width: 100%;
    max-width: 350px;
}
.tienda-iframe{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    text-align: center;
    padding: 1%;
    width: 100%;
    max-width: 350px;
}