footer{
    .social-medias{
        margin: 0 0 0 20px;
        width: 25px;
        height: 25px;
    }
    .footer-logo{
        width: 42px;
        height: 42px;
    }
    .footer-text{
        color: #a7a9be !important;
        text-align: center;
    }
}