nav{
    .nav-link{
        color: #F2522E !important;
        transition: all 0.5s;
        &:hover{
            color: $negro !important;
        }
    }
    .logo-navbar{
        position: relative;
        width: 160px;
        left: 15px;
    }
}