$colors: (
 1: green,
 2:  black,
 3: grey,
);
@each $name-color, $bgcolor in $colors {
   .caja-#{$name-color} {
    background-color: $bgcolor;
   }
}
.caja-1{
    color: map-get($map: $colors, $key: 3);
}
.caja-2{
    color: map-get($map: $colors, $key: 1 );
}
.caja-3{
    color: map-get($map: $colors, $key: 2 );
}


.newsletter{
    align-items: center;
    width: 100%;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
    .newsletter_button{
        border: none;
        padding-top: 7px;
        padding-bottom: 7px;
        background-color: #0d0d0d;
        color: #fafafa;
    }
    .newsletter_text{
        font-weight: bold;
    }
    .newsletter_email{
        border: none;
        background-color: #fafafa;
    }
}
