.newsletter{
    align-items: center;
    width: 100%;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
    .newsletter_button{
        border: none;
        padding-top: 7px;
        padding-bottom: 7px;
        background-color: $negro;
        color: #fafafa;
    }
    .newsletter_text{
        font-weight: bold;
    }
    .newsletter_email{
        border: none;
        background-color: #fafafa;
    }
}
