.product-list{
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    .product-item{  
        margin: 2.5%;
        list-style: none;
        .box{
            background-color: #fff;
            border: $negro 1px solid;
            width: 225px;
            height: auto;
            transition: 0.3s all;
            .product-img{
                width: 100%;
                height: auto;
                padding: 10px;
            }
            .product-link{
                text-align: center;
                text-decoration: none;
                text-decoration-color: $negro;
            }
            .product-link:link{
                color: $negro;
                text-decoration: none;
            }
            .product-link:visited{
                @extend .product-link:link
            }
            .prod-price{
                font-size: 13px;
                text-align: center;
            }
            &:hover{
                box-shadow: 1px 1px 15px $negro;
                opacity: .5;
            }
            .btn_comprar{
                    border: none;
                    padding-top: 5px;
                    padding-bottom: 5px;
                    background-color: $negro;
                    color: #fafafa;
            }
        }
    }
}