.product-list{
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    .product-item{  
        margin: 2.5%;
        list-style: none;
        .box{
            background-color: #fff;
            border: #0d0d0d 1px solid;
            width: 225px;
            height: auto;
            transition: 0.3s all;
            .product-img{
                width: 100%;
                height: auto;
                padding: 10px;
            }
            .product-name{
                text-align: center;
                text-decoration: none;
                text-decoration-color: #0d0d0d;
            }
            .product-name:link{
                color: #000000;
                text-decoration: none;
            }
            .product-name:visited{
                @extend .product-name:link
            }
            .product-price{
                font-size: 13px;
                text-align: center;
            }
            &:hover{
                box-shadow: 1px 1px 15px black;
                opacity: .5;
            }
        }
    }
}