@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;500&display=swap');
@import "variables.scss";
@import "productos.scss";
@import "nav.scss";
@import "footer.scss";
@import "index.scss";
@import "contacto.scss";
@import "newsletter.scss";

*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}
 body{
     font-family: 'Oswald', sans-serif;
     background-color: $fondo;
     .subcategoria{
        text-align: center;
    }
}